<% @product.errors.full_messages.each do |error| %>
  <h4 style="color: white;"><%= error %></h4>
<% end %>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Edit Product</h1>

        <%= form_tag "/products/#{@product.id}", method: :patch do %>

          <div>
            <%= label_tag :name %>
            <%= text_field_tag :name, @product.name %>
          </div>
          
          <div>
            <%= label_tag :price %>
            <%= text_field_tag :price, @product.price %>
          </div>
          
          <div>
            <%= label_tag :supplier %>
            <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name, selected: @product.supplier_id %>
          </div>
          
          <div>
            <%= label_tag :description %>
            <%= text_area_tag :description, @product.description, size: "25x10" %>
          </div>
          
          <%= submit_tag "Update Product" %>

        <% end %>
      </div>
    </div>
  </div>
</section>